{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/group_journals_list.css' %}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ data }}
    <a href="{% url 'group_journal_update' pk=data.id %}">Update journal info</a>
    <form action="{% url 'group_journal_delete' pk=data.id %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are you sure about this?')">Delete journal</button>
    </form>

{% endblock %}